@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap"); /*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

body {
  color: #212121;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}
body.modal-open {
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.btn-subscribe, .btn-send, .btn-main {
  min-width: 200px;
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-subscribe:hover, .btn-send:hover, .btn-main:hover, .btn-subscribe:focus, .btn-send:focus, .btn-main:focus {
  background-color: #188ce8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.modal-close, .menu-toggle {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.footer-social__list, .project, .btn-portfolio, .client__list, .team-social__list, .team__list, .activity__list, .skill, .nav__list, .contact-header, .mobile-social, .mobile-contact, .mobile-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contact-footer__link, .contact-address, .project__link, .nav__link, .contact-header__link, .logo, .mobile-social__link, .mobile-contact__link, .mobile-menu__link {
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.hidden-element {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media screen and (max-width:768px) {
  .page-header .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle:hover, .menu-toggle:focus {
  color: #2196f3;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 40px;
  background-color: #ffffff;
  z-index: 5;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
  color: #212121;
}
.menu-container .menu-container .menu-toggle:hover, .menu-container .menu-container .menu-toggle:focus {
  color: #2196f3;
}

.mobile-menu__item:not(:last-child) {
  padding-bottom: 32px;
}
.mobile-menu__link {
  font-weight: 500;
  font-size: 26px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.02em;
  color: #212121;
}
@media screen and (min-width: 360px) {
  .mobile-menu__link {
    font-size: 36px;
  }
}
.mobile-menu__link--current {
  color: #2196f3;
}

.mobile-contact {
  margin-bottom: 50px;
}
@media screen and (min-width: 360px) {
  .mobile-contact {
    margin-bottom: 64px;
  }
}

.mobile-contact__item--tel {
  padding-bottom: 32px;
}

.mobile-contact__link--tel {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #2196f3;
}
@media screen and (min-width: 360px) {
  .mobile-contact__link--tel {
    font-size: 26px;
  }
}
.mobile-contact__link--mail {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
}
@media screen and (min-width: 360px) {
  .mobile-contact__link--mail {
    font-size: 24px;
  }
}

.mobile-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}
.mobile-social__item {
  padding-right: 10px;
}
.mobile-social__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.mobile-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.logo {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  line-height: 1.17;
  color: #2196f3;
}
@media screen and (min-width: 768px) {
  .logo {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    padding-top: 24px;
    padding-bottom: 24px;
    font-size: 26px;
    line-height: 1.19;
  }
}
.logo__header {
  color: #212121;
}
.logo__footer {
  margin-bottom: 10px;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .header__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.contact-header {
  display: none;
  margin-left: auto;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 768px) {
  .contact-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contact-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-size: inherit;
    line-height: 1.14em;
  }
  .contact-header__item:not(:last-child) {
    margin-right: 30px;
  }
}

.contact-header__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .contact-header__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.contact-header__link:hover, .contact-header__link:focus {
  color: #2196f3;
}

.contact-header__icon {
  margin-right: 10px;
  fill: currentColor;
}
.contact-header__icon:hover {
  fill: #2196f3;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  overflow-y: scroll;
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  /* visibility: hidden; */
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.8);
          transform: translate(-50%, -50%) scale(0.8);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  width: calc(100% - 30px);
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}
.modal__text {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
}
@media screen and (min-width: 360px) {
  .modal__text {
    font-size: 16px;
  }
}
@media screen and (min-width: 380px) {
  .modal__text {
    font-size: 20px;
  }
}

.modal-close {
  position: fixed;
  top: 8px;
  right: 8px;
}

.modal-close__icon {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close__icon:hover, .modal-close__icon:focus {
  fill: #2196f3;
}

.form {
  padding: 30px;
}
@media screen and (min-width: 360px) {
  .form {
    padding: 40px;
  }
}

.form-group {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}
.form-group__input {
  margin-bottom: 4px;
  text-align: left;
  font-size: 10px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}
@media screen and (min-width: 360px) {
  .form-group__input {
    font-size: 12px;
  }
}
.form-group__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  fill: currentColor;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-group::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01;
  color: rgba(117, 117, 117, 0.5);
}
.form-group::-moz-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01;
  color: rgba(117, 117, 117, 0.5);
}
.form-group:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01;
  color: rgba(117, 117, 117, 0.5);
}
.form-group::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01;
  color: rgba(117, 117, 117, 0.5);
}
.form-group::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01;
  color: rgba(117, 117, 117, 0.5);
}

.form-group__input-area,
.form-group__comment-area {
  outline: none;
  padding: 8px 42px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  cursor: pointer;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 380px) {
  .form-group__input-area,
.form-group__comment-area {
    padding: 12px 42px;
  }
}

@media screen and (min-width: 480px) {
  .form-group__comment-area {
    min-height: 150px;
  }
}

.form-group__input-area:hover ~ .form-group__icon {
  fill: #2196f3;
}

.form-group__input-area:hover,
.form-group__input-area:focus,
.form-group__comment-area:hover,
.form-group__comment-area:focus {
  border-color: #2196f3;
}

textarea {
  resize: none;
}

.form-group__comment-area {
  padding: 12px 16px;
}

.checkbox-form {
  margin-top: 15px;
  margin-bottom: 25px;
}
@media screen and (min-width: 380px) {
  .checkbox-form {
    margin-top: 20px;
    margin-bottom: 30px;
  }
}

.checkbox__lable {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.checkbox__icon {
  margin-right: 8px;
  min-width: 16px;
  border: 2px solid #212121;
  border-radius: 2px;
}

.checkbox__input:checked + .checkbox__icon {
  background-color: #2196f3;
  border-color: #2196f3;
  background-origin: border-box;
}

.checkbox__text {
  font-size: 12px;
  line-height: 1.17;
  margin: 0;
  color: #757575;
}
@media screen and (min-width: 1200px) {
  .checkbox__text {
    font-size: 14px;
    line-height: 1.71;
  }
}

.checkbox__text--accent {
  color: #2196f3;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav__item {
  position: relative;
}
.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__list {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 93px;
  }
}

.nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  color: inherit;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover, .nav__link:focus {
  color: #2196f3;
}
.nav__link--current {
  color: #2196f3;
}
.nav__link--current::after {
  content: "";
  position: absolute;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: #2196f3;
  bottom: 0;
  left: 0;
}

.hero {
  max-width: 1600px;
  margin: 0 auto;
  background-color: #c4c4c4;
  text-align: center;
  padding: 118px 0;
}
.hero__tittle {
  margin: 0 auto 30px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
}
@media screen and (min-width: 768px) {
  .hero__tittle {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__overlay {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-bg-img/hero-mobile.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-img/hero-mobile.jpg);
  background-size: cover;
}
@media screen and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero__overlay {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-bg-img/hero-mobile@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-img/hero-mobile@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero__overlay {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-bg-img/hero-tablet.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-img/hero-tablet.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero__overlay {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-bg-img/hero-tablet@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-img/hero-tablet@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero__overlay {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-bg-img/hero-descktop.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-img/hero-descktop.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero__overlay {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-bg-img/hero-descktop@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-img/hero-descktop@2x.jpg);
  }
}

.btn-main {
  padding: 10px 32px;
}

.btn-send {
  padding: 10px 55px;
}

.btn-subscribe {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
}
@media screen and (min-width: 1200px) {
  .btn-subscribe {
    margin-left: 12px;
  }
}
.btn-subscribe__icon {
  margin-left: 10px;
}

.skill-section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .skill-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .skill {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.skill__icon {
  background-color: #f5f4fa;
  margin-bottom: 30px;
  height: 120px;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.skill__tittle {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 1.14;
  font-size: inherit;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .skill__tittle {
    text-align: center;
  }
}
.skill__text {
  margin: 0;
  line-height: 1.71;
  color: #757575;
}

.skill__item {
  margin-bottom: 30px;
}
@media screen and (max-width: 767px) {
  .skill__item:last-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .skill__item {
    width: calc((100% - 30px) / 2);
  }
  .skill__item:nth-child(odd) {
    margin-right: 30px;
  }
  .skill__item:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .skill__item {
    margin-bottom: 0;
    width: calc((100% - 90px) / 4);
  }
  .skill__item:not(:last-child) {
    margin-right: 30px;
  }
}

.activity-section {
  padding-bottom: 94px;
}
@media screen and (max-width: 1199px) {
  .activity-section {
    display: none;
  }
}

.activity {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .activity {
    margin-bottom: 50px;
  }
}
.activity__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.activity__item {
  width: calc((100% - 60px) / 3);
  position: relative;
}
.activity__item:not(:last-child) {
  margin-right: 30px;
}
.activity__text {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  margin: 0;
  text-align: center;
  padding-top: 27px;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.team-section {
  background-color: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .team-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .team {
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.team__info {
  padding: 30px 32px;
  text-align: center;
}
.team__name {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.team__speciality {
  margin: 0;
  color: #757575;
  font-size: 16px;
  line-height: 1.19;
}

.team__item {
  margin-bottom: 30px;
  border-radius: 0px 0px 4px 4px;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 767px) {
  .team__item:last-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .team__item {
    width: calc((100% - 30px) / 2);
  }
  .team__item:nth-child(odd) {
    margin-right: 30px;
  }
  .team__item:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    margin-bottom: 0;
    width: calc((100% - 90px) / 4);
  }
  .team__item:not(:last-child) {
    margin-right: 30px;
  }
}

.team-social__list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 10px;
  margin-top: 16px;
}

.team-social__link {
  height: 44px;
  width: 44px;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social__link:hover, .team-social__link:focus {
  fill: #ffffff;
  background-color: #2196f3;
}

.client-section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .client-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.client {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .client {
    margin-bottom: 50px;
  }
}
.client__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.client__icon {
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client__icon:hover, .client__icon:focus {
  fill: #2196f3;
  border-color: #2196f3;
}

.client__item {
  margin-right: 30px;
  margin-bottom: 30px;
}
@media screen and (max-width:768px) {
  .client__item {
    width: calc((100% - 30px) / 2);
  }
  .client__item:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
  .client__item:nth-child(2n) {
    margin-right: 0;
  }
}
@media screen and (min-width: 768px) {
  .client__item {
    width: calc((100% - 60px) / 3);
  }
  .client__item:nth-child(3n) {
    margin-right: 0;
  }
  .client__item:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .client__item {
    margin-bottom: 0;
    width: calc((100% - 150px) / 6);
  }
  .client__item:not(:last-child) {
    margin-right: 30px;
  }
}

.portfolio-section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .portfolio-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.btn-portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .btn-portfolio {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .btn-portfolio {
    margin-bottom: 50px;
  }
}

.btn-portfolio__item:not(:last-child) {
  margin-right: 8px;
}
@media screen and (max-width:768px) {
  .btn-portfolio__item {
    margin-bottom: 15px;
  }
}

.btn-portfolio__filter {
  padding: 6px 22px;
  min-width: 73px;
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  background-color: #f5f4fa;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-portfolio__filter:hover, .btn-portfolio__filter:focus {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.current-btn {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project {
  display: block;
}
@media screen and (min-width: 768px) {
  .project {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.project__link {
  display: block;
  height: 100%;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project__item {
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
  background-color: #ffffff;
}
@media screen and (max-width: 767px) {
  .project__item:last-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .project__item {
    width: calc((100% - 30px) / 2);
  }
  .project__item:nth-child(odd) {
    margin-right: 30px;
  }
  .project__item:last-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .project__item {
    margin-right: 30px;
    width: calc((100% - 60px) / 3);
  }
  .project__item:nth-child(3n) {
    margin-right: 0;
  }
  .project__item:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
}

.box-project-overlay {
  position: relative;
  overflow: hidden;
}

.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 24px;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-overlay__text {
  color: #ffffff;
  font-size: inherit;
  line-height: 1.56;
  margin: 0;
}
@media screen and (min-width: 380px) {
  .project-overlay__text {
    font-size: 18px;
  }
}

.project__link:hover,
.project__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project__link:hover .project-overlay,
.project__link:focus .project-overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.project-content {
  padding: 20px 24px;
}
.project-content__tittle {
  margin: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.project-content__text {
  margin: 0;
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
}

.footer-section {
  background-color: #2f303a;
  padding-top: 50px;
  padding-bottom: 55px;
}

@media screen and (min-width: 1200px) {
  .descktop-layout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 768px) {
  .tablet-layout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (max-width: 1199px) {
  .contact-block {
    text-align: center;
    margin-bottom: 60px;
  }
}

.contact-address {
  display: block;
  color: #ffffff;
  line-height: 1.71;
  font-style: normal;
  margin-bottom: 8px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-address:hover, .contact-address:focus {
  color: #2196f3;
}

.contact-footer__link {
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  display: block;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-footer__link--tel {
  padding-top: 8px;
}
.contact-footer__link:hover, .contact-footer__link:focus {
  color: #ffffff;
}

@media screen and (max-width: 1199px) {
  .footer-social {
    text-align: center;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-social {
    margin-left: 80px;
  }
}
.footer-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 1199px) {
  .footer-social__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.footer-social__item:not(:last-child) {
  margin-right: 10px;
}
.footer-social__link {
  height: 44px;
  width: 44px;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social__link:hover {
  background-color: #2196f3;
}

.footer-social__text,
.subscribe__text {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (max-width: 1199px) {
  .subscribe-block {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe-block {
    margin-left: auto;
  }
}

@media screen and (max-width: 1199px) {
  .form-footer__group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .form-footer__group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.form-footer__input-area {
  outline: none;
  padding: 16px 16px;
  min-width: 280px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: #ffffff;
}
@media screen and (max-width: 1199px) {
  .form-footer__input-area {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 390px) {
  .form-footer__input-area {
    min-width: 350px;
  }
}
@media screen and (min-width: 480px) {
  .form-footer__input-area {
    min-width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .form-footer__input-area {
    min-width: 360px;
  }
}
.form-footer__input-area::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.form-footer__input-area::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.form-footer__input-area:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.form-footer__input-area::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.form-footer__input-area::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}/*# sourceMappingURL=main.css.map */