.header__row {
  @media screen and ($min768) {
    display: flex;
    align-items: center;
  }
}

.page-header {
  border-bottom: 1px solid getColor('border-bottom-color');
}

.contact-header {
  @extend %list;
  display: none;
  margin-left: auto;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  @media screen and ($min768) {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  @media screen and ($min1200) {
    display: flex;
    flex-direction: row;

    font-size: inherit;
    line-height: 1.14em;

    &__item:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.contact-header__link {
  @extend %link;

  display: flex;
  align-items: center;
  color: getColor('color-grey');
  transition: color $transition;

  @media screen and ($min1200) {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  &:hover,
  &:focus {
    color: getColor('accent-color');
  }
}

.contact-header__icon {
  margin-right: 10px;
  fill: currentColor;

  &:hover {
    fill: getColor('accent-color');
  }
}