.nav {
  display: flex;
  align-items: center;

  &__item {
    position: relative;
  }

  &__item:not(:last-child) {
    margin-right: 50px;
  }
}

.nav__list {
  @extend %list;
  display: none;

  @media screen and ($min768) {
    display: flex;
    margin-left: 88px;
  }

  @media screen and ($min1200) {
    display: flex;
    margin-left: 93px;
  }
}

.nav__link {
  @extend %link;
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;

  color: inherit;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;

  transition: color $transition;

  &:hover,
  &:focus {
    color: getColor('accent-color');
  }

  &--current {
    color: getColor('accent-color');
  }

  &--current::after {
    content: '';
    position: absolute;
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background-color: getColor('accent-color');
    bottom: 0;
    left: 0;
  }
}